<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451104750719-6b5ker6khdrtorbsrjls06931eqt3j1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451104750719-6b5ker6khdrtorbsrjls06931eqt3j1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMhEFGLTVYrooJy23rQBaCVZfOGcb7Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>451104750719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huengg.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-heungg</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-heungg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451104750719:ios:5421dfa29e86a9fe94934a</string>
</dict>
</plist>